useDynLib(RSKAT2, .registration = TRUE)

	
exportPattern("^[^\\.]")

# functions
#export(Get_PValue.Lambda,colmult,fit.optim,getDL,neg2Log,getEigenZd,testZ,meanImpute,tr,simuBeta,simuPower,P3D.NULL,getLoglik)


